<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dw.mappers.boardMapper">

<select id="list" resultType="kr.or.dw.domain.BoardVO">

SELECT bno, title, content, userId, regDate, viewCnt, USERNAME
FROM (
    SELECT b.bno, b.title, b.content, b.userId, b.regDate, b.viewCnt, t.USERNAME, row_number() over(order by bno desc) as rNum
    FROM TBL_BOARD b
    JOIN TBL_MEMBER t ON b.USERID = t.USERID  
) 
WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
AND 1=1
</select>



<insert id="write" parameterType="kr.or.dw.domain.BoardVO">
	insert into 
	tbl_board(bno,title,content,userId)
	values(tbl_board_seq.nextval,#{title}, #{content}, #{userId})
</insert>

<select id="view" parameterType="int" resultType="kr.or.dw.domain.BoardVO">
	select
	b.bno,b.title,b.content,b.userId,b.regDate,b.viewCnt,t.userName
	from TBL_BOARD b, TBL_MEMBER t 
	where bno = #{bno}
	AND b.userId = t.userId
</select>

<update id="modify" parameterType="kr.or.dw.domain.BoardVO">
	update tbl_board
	set title = #{title},
		userId = #{userId},
		content = #{content}
	where bno = #{bno}
</update>

<delete id="delete">
	delete from tbl_board
	where bno = #{bno}
</delete>

<select id="getBoard" resultType="kr.or.dw.domain.BoardVO">
	SELECT userId
	from tbl_board
	where bno = #{bno}
</select>

<select id="listCount" resultType="int">
 <![CDATA[
 	select count(*)
 	from tbl_board t, tbl_member m
 	where 1=1
 	AND t.userId = m.userId
 	AND bno > 0
 ]]>
</select>

<select id="listSearch" resultType="kr.or.dw.domain.BoardVO" parameterType="kr.or.dw.command.SearchCriteria">
	SELECT bno, title, content, userId, regDate, viewCnt, USERNAME
FROM (
    SELECT b.bno, b.title, b.content, b.userId, b.regDate, b.viewCnt, t.USERNAME, row_number() over(order by bno desc) as rNum
    FROM TBL_BOARD b
    JOIN TBL_MEMBER t ON b.USERID = t.USERID  
    <include refid="search"/>
) 
WHERE rnum BETWEEN #{rowStart} AND #{rowEnd}
AND 1=1
</select>

<sql id="search">
<if test="searchType != null">
<if test="searchType == 't'.toString()">and title like '%' || #{keyword} || '%'</if>
<if test="searchType == 'c'.toString()">and content like '%' || #{keyword} || '%'</if>
<if test="searchType == 'w'.toString()">and userName like '%' || #{keyword} || '%'</if>
<if test="searchType == 'tc'.toString()">and (title like '%' || #{keyword} || '%') or (content like '%' || #{keyword} || '%')</if>
</if>
</sql>

<select id="countSearch" resultType="int">
	select count(*)
	from tbl_board
	where 1=1
	<![CDATA[
   and bno > 0
	]]>
</select>

</mapper>



